#include "askpassrc.h"
#include <windows.h>

#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(932)
#endif //_WIN32

IDD_ASK_PASS DIALOG DISCARDABLE  0, 0, 208, 50
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "win-ssh-askpass"
FONT 9, "MS Shell Dlg 2"
BEGIN
    EDITTEXT        IDC_PASSPHRASE,4,16,200,14,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,51,32,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,106,32,50,14
    EDITTEXT        IDC_PROMPT,5,4,198,12,ES_AUTOHSCROLL | ES_READONLY | NOT 
                    WS_BORDER | NOT WS_TABSTOP
END

IDI_ASK_PASS            ICON    DISCARDABLE     "askpass.ico"
1                       RT_MANIFEST             "askpass.manifest"
